/*mq de tablet*/

@media screen and (min-width:768px){

/* pag de preguntas frecuentes*/
.preguntas{
    padding-right: 8%;
    .titulo-preguntas{
    font-size: 30px;
    font-weight: 500;
}
}

/*pag de como comprar*/
.como-comprar{
    padding-right: 8%;
}

/*bloques tarjetas de productos*/
.tarjetas-generales{
  padding-left: 4%;
  justify-content: center;
}

}